.feed {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: auto;
}

.hotel-feeds {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .feed {
    border: 1px solid blue;
  }
}
