.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-content {
  background-image: url("https://images.unsplash.com/photo-1521783988139-89397d761dce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1925&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  border-radius: 15px;
  position: relative;
}

.hero-content .search {
  border: none;
  padding: 10px 25px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--indigo);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.hero-content .search:hover {
  background-color: var(--navy-blue);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hero-content .search:active {
  background-color: var(--indigo);
  box-shadow: none;
}

.select-options {
  position: absolute;
  padding: 20px;
  width: 80%;
  right: 50%;
  transform: translateX(50%);
  bottom: -30%;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.select-options .select {
  display: flex;
  gap: 10px;
}

.select-options select {
  border: none;
}

.select-options select::placeholder {
  color: var(--grayish-blue-text);
}

.select-options select:focus {
  border-color: var(--bright-red);
}

@media (max-width: 1100px) {
  .select-options {
    flex-direction: column;
    padding: 10px;
    gap: 6px;
  }

  .select-options .select {
    flex: 1;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .select-options {
    /* width: 100%; */
    padding: 10px;
  }
}
