.home {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: var(--light-gray-bgc);
  position: relative;
}

.home-feed {
  flex: 1;
  position: relative;
}

@media (max-width: 768px) {
  .side-bar {
  }
}
