.search-bar {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 15px 15px;
  border-radius: 9px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.search-form {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grayish-blue-text);
  border-radius: 7px;
  /* border: 1px solid red; */
}

.search-button {
  border: none;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-input {
  background: transparent;
  border: none;
  padding: 5px;
  margin-left: 10px;
  font-size: 1em;
  outline: none;
  width: 100%;
}

.date-notification {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification {
  position: relative;
  padding: 1px 3px;
  border-radius: 5px;
  border: 1px solid var(--grayish-blue-text);
  height: 100%;
}

.notification i {
  flex: 1;
}

.notification span {
  position: absolute;
  top: -12px;
  left: -12px;
  background-color: var(--bright-red);
  color: #fff;
  width: 12px;
  height: 12px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .menu {
  margin-right: 20px;
  display: none;
}

.search-bar .hamburger {
  display: none;
  border: none;
  color: var(--grayish-blue-text);
  font-size: 25px;
  position: absolute;
  font-weight: 600;
  z-index: 9 !important;
}

@media (max-width: 768px) {
  .search-bar .hamburger {
    display: block;
  }
  .search-bar .menu {
    display: flex;
    align-items: center;
    height: auto;
    min-width: 28px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid var(--grayish-blue-text);
  }
}

@media (max-width: 500px) {
  .date-notification {
    font-size: 12px;
  }
}
