.side-bar {
  height: 100%;
  width: 250px;
  position: sticky;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  color: var(--gray-text);
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 6;
  overflow-y: hidden;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bi-x-lg {
  display: none;
}

.side-bar.active {
  left: 0;
}

.title {
  margin: 10px 0;
}

.title span {
  color: var(--indigo);
}

.user-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding: 3px;
  border: 3px solid var(--navy-blue);
  object-fit: cover;
  display: flex;
  position: relative;
}

.profile-image img {
  width: 100%;
  border-radius: 50%;
}

.profile-image i {
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translateX(50%);
  background-color: var(--indigo);
  color: #fff;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.routes {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px 5px;
  gap: 30px;
}

.route {
  display: flex;
  gap: 10px;
  word-wrap: normal;
  text-decoration: none;
  color: var(--gray-text);
}

.route.active {
  color: var(--indigo);
}

.route i {
  font-size: 16px;
}

.route:hover {
  color: var(--indigo);
}

.logout {
  border: none;
  display: flex;
  gap: 10px;
  align-self: center;
  margin-top: 10%;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: var(--gray-text);
}

.logout:hover {
  color: var(--indigo);
}

@media (max-width: 768px) {
  .bi-x-lg {
    display: block;
  }
  .side-bar {
    position: fixed;
    left: -100%;
  }
}
