@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --navy-blue: #5d6081;
  --grayish-blue-text: #b4bcca;
  --indigo: #1e2970;
  --gray-text: #747474b9;
  --light-gray-bgc: #f0eeee;
  --bright-red: #ff515a;
  --amber-yellow: #f59f00;
}
